# Node.js
node_modules/

# Environment files
.env
.env.*.local

# Build output
dist/
build/
.cache/

# Dependency directories
backend-bft/node_modules/
backend-bft-storefront/node_modules/

# OS-specific files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
